body,
html {
  width: 100%;
  height: 100%;
}
ul,
li {
  list-style: none;
  float: left;
  padding-left: 40px;
  padding-top: 20px;
}
#div2 {
  display: none;
}
#div3 {
  display: none;
  background: #efefef;
  width: 92%;
  height: 2000px;
}
#div1 {
  background: #efefef;
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.appjs{
  width: 2000px;
}
.divRer {
  width: 300px;
  height: 100px;
  background: #fff;
  float: left;
  margin-left: 6%;
  margin-top: 2%;
  transform: scale(1.1);
  transition: all 1s;
}
.divRer img:hover {
  transform: scale(1.2);
}
input {
  width: 179px;
  height: 30px;
}

.clicks {
  background-color: antiquewhite;
}
#box {
  border: solid 1px purple;
}
.resd {
  width: 800px;
  height: 800px;
  background: orchid;
}
tr {
  color: #fff;
  text-align: center;
  color: #000;
  height: 60px;
}
tr:hover {
  background: azure;
}
#sop {
  position: fixed;
  top: 285px;
  left: 40%;
  float: right;
  display: none;
  background: #42b983;
}
.kqon1 {
  width: 400px;
  height: 500px;
  background: #fff;
  margin-left: 200px;
  margin-top: 20px;
  float: left;
}
.kqon2 {
  width: 300px;
  height: 500px;
  background: #fff;
  margin-left: 200px;
  margin-top: 20px;
  float: left;
}
#main4 {
  width: 1000px;
  height: 400px;
  background: #fff;
}
#main4s {
  width: 1000px;
  height: 400px;
  background: #fff;
}
#ic {
  width: 1000px;
  height: 500px;
  background: #fff;
  margin-left: 30px;
  margin-top: 20px;
  float: left;
}

#ick {
  width: 1000px;
  height: 500px;
  background: #fff;
  margin-left: 30px;
  margin-top: 20px;
  float: left;
}
#CpuEcharts {
  width: 360px;
  margin-left: 23px;
  height: 400px;
  margin-left: 20px;
}
#CpuE {
  width: 300px;
  height: 400px;
}
#main10 {
  width: 360px;
  margin-left: 23px;
  height: 400px;
}
#imgo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}